<div class="row" ng-controller="UserCtrl">
    <div class="span8">
    <form ng-submit="processForm(user)">
        <fieldset>
            <legend>User</legend>           
            <div>
                <label>Username</label>
                <input required ng-model="user.username" required class="input-xxlarge" type="text" placeholder="Username...">                   
            </div>
            <div>
                <label>Password</label>
                <input required ng-model="user.password" required class="input-xxlarge" type="password" placeholder="Password...">                   
            </div>
            <div>
                <button type="submit" class="btn btn-primary">{{button}}</button>
            </div>
        </fieldset>
    </form>
    <script src="/js/userCtrl.js"></script>
    </div>
</div>


